@use 'variables.scss';

.button-white {
  color: variables.$color-purple;
  background: variables.$color-white;

  @media (hover) {
    &:hover {
      box-shadow: 0 0 5px 0 variables.$color-white;
    }
  }
}

.button-purple {
  color: variables.$color-white;
  background: variables.$color-purple;

  @media (hover) {
    &:hover {
      box-shadow: 0 0 5px 0 variables.$color-white;
    }
  }
}

.transparent-button {
  color: variables.$color-purple;
  background: transparent;
  border: 1px solid variables.$color-purple;
  border-radius: 5px;

  @media (hover) {
    &:hover {
      box-shadow: 0 0 5px 0 variables.$color-white;
    }
  }
}

.catalog-card-button {
  height: 50px;
  width: 90%;
  border-radius: 5px;

  &:active {
    box-shadow: 5px 5px 5px gainsboro;
  }
}
