@use 'fonts.scss';
@use 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  @media (width <= 768px) {
    font-size: 14px;
    line-height: 16px;
  }
}

.container-1100 {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

a,
button {
  transition: all 0.25s;
  cursor: pointer;
}

button {
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 5px;
  background: transparent;
  &:disabled {
    background: #eee;
    pointer-events: none;
  }
}

input {
  width: 100%;
  padding: 15px 25px 15px 15px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: variables.$color-white;
  background: variables.$color-pale-purple;
  outline: none;
  transition: all 0.25s;

  &::placeholder {
    color: variables.$color-white;
  }

  &:focus {
    box-shadow: 0 0 5px 0 variables.$color-darkpurple;
  }

  &:disabled {
    box-shadow: inset 0 0 5px 0 variables.$color-darkpurple;
  }

  &[type='number']::-webkit-outer-spin-button,
  &[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &.invalid {
    border: 1px solid variables.$color-invalid;
    background: variables.$color-invalid-border;
  }
}

.invalid-message {
  color: variables.$color-invalid;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  width: 100%;
  max-width: 480px;
  padding: 30px 20px;
  background-color: variables.$color-purple;
  color: variables.$color-white;
  border-radius: 10px;

  @media (width <=380px) {
    border-radius: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 15px;
    margin: 0;
    padding: 0;
    border: none;
  }

  &__title {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  &__row {
    display: flex;
    gap: 10px;
    @media (width <= 480px) {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  &__input-wrapper {
    position: relative;
  }

  &__password-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 30px;
    fill: variables.$color-white;
    cursor: pointer;
  }

  &__switch {
    height: auto;
    text-align: center;
    text-decoration: none;
    color: variables.$color-white;
  }
}
