$color-black: #282739;
$color-bachground: #f4f7fb;
$color-purple: #6f73ee;
$color-pale-purple: #8c8ff1;
$color-darkpurple: #5053aa;
$color-white: #fff;
$color-yellow: #ffe70c;
$color-invalid: #d21e1e;
$color-invalid-border: #d21e1ea3;

$color-gray-600: #5d6c7b;
$color-gray-200: #eaebed;
$transparent-white: rgba(255, 255, 255, 0.3);
$color-orange-main: #ee685f;
$color-orange-second: #f3a712;
$color-green: #75d14a;
