$main-color: #6f73ee;
$black: #282739;
$gray-600: #5d6c7b;
$gray-200: #eaebed;
$white: #fff;
$transparent-white: rgba(255, 255, 255, 0.3);
$background: #f4f7fb;
$hit: #ee685f;
$preorder: #f3a712;
$new-item: #75d14a;
$main-font: 'Jost', sans-serif;
$second-font: 'Roboto', sans-serif;
